@{
    Layout = "~/Views/_Layout.cshtml";
}
<br />
<h4>流動廁所佈點與管理通報</h4>
<br />
@Html.ActionLink("佈點輸入", "B1e23", "EPBxToilet", null, new { @class = "btn btn-primary btn-large" })
@Html.ActionLink("清潔記錄輸入", "B1e24", "EPBxToilet", null, new { @class = "btn btn-primary btn-large" })
<br />
<br />
<br />