/.vs
/MyEPA/bin/MyEPA.pdb
/MyEPA/bin/MyEPA.dll.config
/MyEPA/bin/MyEPA.dll
/MyEPA/obj
/MyEPA/MyEPA.csproj.user
/MyEPA/Properties/PublishProfiles/EMIS_本機環境.pubxml.user
/MyEPA/Properties/PublishProfiles/EMIS_本機環境.pubxml
/MyEPA/.vs
