/.vs
/MyEPA/bin/MyEPA.pdb
/MyEPA/bin/MyEPA.dll.config
/MyEPA/bin/MyEPA.dll
/MyEPA/obj
/MyEPA/MyEPA.csproj.user
/MyEPA/Properties/PublishProfiles/EMIS_本機環境.pubxml.user
/MyEPA/Properties/PublishProfiles/EMIS_本機環境.pubxml
/MyEPA/.vs
/MyEPA/Properties/PublishProfiles
/MyEPA/bin/Microsoft.Windows.Design.Extensibility.dll
/MyEPA/bin/Microsoft.mshtml.dll
/MyEPA/bin/zh-Hant/Microsoft.Windows.Design.Extensibility.resources.dll
/MyEPA/bin/itextsharp.xml
/MyEPA/bin/Xamarin.Forms.Core.xml
/MyEPA/FileDatas/Temp
/MyEPA/Views/RecResourceSet/backup1_List.cshtml
/MyEPA/Controllers/Rec/backup1_RecResourceSetController.cs
/MyEPA/logs
/MyEPA/Docs/UpdateScript/API_整理.sql
/MyEPA/Docs/UpdateScript/API_介接查詢
/EPASchedule/obj
/EPASchedule/bin/Debug/logs
/EPASchedule/bin/Debug/EPASchedule.exe
/EPASchedule/bin/Debug/EPASchedule.exe.config
/EPASchedule/bin/Debug/EPASchedule.pdb
