@using MyEPA.Models;

@{
    ViewBag.Title = "災害事件簡報";
    Layout = "~/Views/_Layout.cshtml";

    List<DiasterModel> diasters = ViewBag.Diasters;

    //querystring
    int diasterId = ViewBag.DiasterId;
}

<div class="btn-group">
    <button data-toggle="dropdown" class="btn btn-primary btn-white dropdown-toggle" aria-expanded="false">
        @(diasters.FirstOrDefault(e => e.Id == diasterId).DiasterName)<i class="ace-icon fa fa-angle-down icon-on-right"></i>
    </button>
    <ul class="dropdown-menu">
        @foreach (DiasterModel Item in diasters)
        {
            <li>
                <a href="@Url.Action("DisasterEventReport", new { diasterId = Item.Id })">@Item.DiasterName</a>
            </li>
        }
    </ul>
</div>

<div class="form-horizontal">
    <hr />

    <div class="page-content">
        <div class="row">
            <div class="col-xs-12">
                <ul>
                    <li>
                        <a href="@Url.Action("Export3_TestWater", new { diasterId = diasterId })" class="btn btn-primary" role="button">簡報產製3_飲用水質(.xlsx)</a>
                        <br /><br />
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>