@{
    ViewBag.Title = "緊急應變簡報";
    Layout = "~/Views/_Layout.cshtml";
}

<div class="form-horizontal">
    <hr />

    <div class="page-content">
        <div class="row">
            <div class="col-xs-12">
                <ul>
                    <li>
                        <a href="@Url.Action("Export1_Urgent")" class="btn btn-primary" role="button">簡報產製1_緊急應變統計表(.xlsx)</a>
                        <br /><br />
                    </li>
                    <li>
                        <a href="@Url.Action("Export2_TaiwanMap")" class="btn btn-primary" role="button">簡報產製2_台灣地圖(.xlsx)</a>
                        <br /><br />
                    </li>
                    <li>
                        <a href="@Url.Action("Export4_Cars")" class="btn btn-primary" role="button">簡報產製4_環境清潔車輛(.xlsx)</a>
                        <br /><br />
                    </li>
                    <li>
                        <a href="@Url.Action("Export5_EnvDisinSupplies")" class="btn btn-primary" role="button">簡報產製5_環境消毒物資(.xlsx)</a>
                        <br /><br />
                    </li>
                </ul>                
            </div>
        </div>
    </div>
</div>
