@{
    ViewBag.Title = "災害事件簡報";
    Layout = "~/Views/_Layout.cshtml";
}

<div class="form-horizontal">
    <hr />

    <div class="page-content">
        <div class="row">
            <div class="col-xs-12">
                <ul>
                    <li>
                        <a href="@Url.Action("Export3_TestWater")" class="btn btn-primary" role="button">簡報產製3_飲用水質(.xlsx)</a>
                        <br /><br />
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>