@{
    ViewBag.Title = "CustomService";
    Layout = "~/Views/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <div class="row">
                <h3>客服中心</h3>
                <hr>
                <img src="~/images/customer.png" alt="customer" /><br />               
                <h3>
                    電話:(02)2784-4188 #5105、5295、5134<br />
                    傳真:(02) 2784-4186<br />
                    周一至周五 08:30-17:30<br />
                    下班時間及假日 (02)2784-4188 #5105 (災情服務電話)<br />
                </h3>
            </div>
        </div>
    </div>
</div>