@{
    ViewBag.Title = "CustomService";
    Layout = "~/Views/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <div class="row">
                <h3>客服中心</h3>
                <hr>
                <img src="~/images/customer.png" alt="customer" /><br />
                <h3>電話：(02)2377-8011 #220 278 286<br />
                災情服務電話：0958-820-406 / 0910-635-417<br />
                客服信箱：serve@simenvi.com.tw<br />
                服務時間：周一至周五8:30~17:30</h3>
            </div>
        </div>
    </div>
</div>