<script>

    //$('html, body').animate({
    //    scrollTop: 300
    //}, 1000);
</script>
<br />
<section>
    <div class="container">
        <a accesskey="Z" href="#bottom" title="accesskey:bottom" class="accesskey-bottom pc"> ::: </a>&nbsp;
        <div class="row">
            <div class="col-12 text-left">
                <h2>聯絡資訊</h2>
            </div>
        </div>
    </div>
</section>
<br />
<section id="Contact">
    <div class="container mt-2">
        <div class="row contact-content">
            <div class="col-md-4 col-12">
                <ul class="list-unstyled">
                    <li class="media">
                        <img class="mr-3" src="/Content/images/EMIC_icon.png" alt="">
                        <div class="media-body">
                            <h3 class="mt-0 mb-1">中央災害應變中心</h3>
                            <p>
                                電話&nbsp;(02)8911-4119<br>
                                傳真&nbsp;(02)8196-6733
                            </p>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="col-md-4 col-12">
                <ul class="list-unstyled">
                    <li class="media">
                        <img class="mr-3" src="/Content/images/epa_icon.png" alt="">
                        <div class="media-body">
                            <h3 class="mt-0 mb-1">環境部災害應變中心</h3>
                            <p>
                                電話&nbsp;(02)2383-2389 #59901 #59903 <br>
                                傳真&nbsp;(02)2370-5740
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 col-12">
                <ul class="list-unstyled">
                    <li class="media">
                        <img class="mr-3" src="/Content/images/service_man.png" alt="">
                        <div class="media-body">
                            <h3 class="mt-0 mb-1">客服中心</h3>
                            <p>
                                電話:(02)2784-4188 #5105、5106、5267、5295<br />
                                傳真:(02) 2784-4186<br />
                                周一至周五 08:30-17:30<br />
                                下班時間及假日 (02)2784-4188 #5105 (災情服務電話)<br />
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<br />