@{
    Layout = "~/Views/Home/_FirstLayout.cshtml";
}
<br /><br />
<table class="table table-borderless">
    <tr>
        <td style="text-align:center;color:red;font-size:large">
            @ViewBag.Msg
        </td>
    </tr>
</table>
<br /><br /><br /><br />

