@{
    Layout = "~/Views/Home/_FirstLayout.cshtml";
   
}
<div class="container">
    <br />
    <h2>@ViewBag.Title</h2>
    @{Html.RenderPartial("~/Views/Components/ShowPost.cshtml", (string)ViewBag.title);}
    <br />
</div>



