@{
    Layout = "~/Views/Home/_FirstLayout.cshtml";
}
<script>

    $('html, body').animate({
        scrollTop: 300
    }, 1000);
</script> 

<div class="container">
    <br />
    <h2>@ViewBag.Title</h2>
    <br />
</div>

