@using MyEPA.Models;
@model PagingResult<MyEPA.Models.ContactManualDownloadRecordModel>

@{
    ViewBag.Title = "手冊下載紀錄";
    Layout = "~/Views/_ContactManualLayout.cshtml";
}

<h2>@ViewBag.Title</h2>

<div class="container">
    @{
        Html.RenderPartial("Partials/_ContactManualDownloadRecordPartial", Model.Items);
    }
    <div class="container text-center">
        @Html.PageLink(Model.Pagination)
    </div>
</div>