@{
    Layout = "~/Views/_Layout.cshtml";
}
@model IEnumerable<MyEPA.Models.DeleteLandfillModel>
@{
    ViewBag.Title = "PickLandfillToRemove";
}
@{
    WebGrid grid = new WebGrid(Model);
}
@Html.ActionLink("返回", "A4x1Landfill", "EPAxLandfill", "", new { @class = "btn btn-primary fa fa-arrow-circle-left", @style = "color:white;padding:4px" })
<br /><br />
@using (Html.BeginForm("DoRemove", "EPAxLandfill", FormMethod.Post))
{
    @grid.GetHtml(tableStyle: "table table-bordered", headerStyle: "head", columns: new[]
        {
    grid.Column("","編輯",format: @<button type="submit" name="Delete" class="btn btn-basic" value=@item.id>刪除</button>),
    grid.Column("Id","編號", canSort: true),
    grid.Column("ContactUnit","聯繫單位", canSort: true),
    grid.Column("Xpos","X位置", canSort: true),
    grid.Column("Ypos","Y位置", canSort: true),
    grid.Column("City","城市", canSort: true),
}
                    )
}