@model MyEPA.Models.RecResourceModel
@using MyEPA.Models

@{
    ViewBag.Title = "Email 測試";
    Layout = "~/Views/_Layout.cshtml";
}
<link rel="stylesheet" href="~/Content/flatpickr.css">
<link rel="stylesheet" href="~/Content/confirmDate.css">

<h3>
    Email 測試
</h3>

