body
{
	margin: 0px;
	padding: 0px;
}
#gmap
{
	width: 500px;
	height: 500px;
}
#tabAddDma .title
{
	background-color: #339933;
	color: #FFFFFF;
	font-weight: bold;
}
#tabs
{
	font-size: 10pt;
	height: 550px;
}
#tabs-1, #tabs-2, #tabs-3
{
	width: 500px;
}
#tabs-1 .ui-accordion-content
{
	height: 200px;
}
#tabs-2 .ui-accordion-content
{
	height: 300px;
}
.logo
{
	color: #CC0000;
	font-weight: bold;
	background-color: #DEE7D1;
}
.logo2
{
	font-weight: bold;
	background-color: #EFF3EA;
}
.logo3
{
	font-weight: bold;
	background-color: #DEE7D1;
}
.ui-datepicker
{
	font-size: 10pt;
}


/* jQuery lightBox plugin - Gallery style */
#gallery
{
	background-color: #444;
	padding: 10px;
	width: 400px;
}
#gallery ul
{
	list-style: none;
}
#gallery ul li
{
	display: inline;
}
#gallery ul img
{
	border: 5px solid #3e3e3e;
	border-width: 5px 5px 20px;
}
#gallery ul a:hover img
{
	border: 5px solid #fff;
	border-width: 5px 5px 20px;
	color: #fff;
}
#gallery ul a:hover
{
	color: #fff;
}

.btnStyle1 {
	border: none;
	background-color: #0a6ba6;/*67BF7F;*/
	font-size: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #ffffff;
	letter-spacing: 1px;
	text-align: center;
}