
@model IEnumerable<MyEPA.Models.TownModel>
@{
    var id = ViewBag.Id;
}
<select name="SearchTownId">
    <option value="" >請選擇</option>
    @foreach (var item in Model)
    {
        <option value="@item.Id" @(item.Id == id ? "selected" : string.Empty)>@item.Name</option>
    }
</select>