@model MyEPA.ViewModels.DamageMemoViewModel

@{
    ViewBag.Title = "MemoShow";
    Layout = "~/Views/_Layout.cshtml";
}

<h2>備註</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>DamageMemoViewModel</h4>
        <hr />

        <div class="form-group">
            @Html.LabelFor(model => model.Note, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Note, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            </div>
        </div>
    </div>
}
<p>
    @Html.ActionLink("返回列表", "FacilityDamage", new { diasterId = Model.DiasterId, cityId = Model.CityId, townId = Model.TownId, type = type }, new { @class = "btn btn-default" })
</p>

