
@{
    ViewBag.Title = "Download";
    MyEPA.Enums.DutyEnum duty = ViewBag.DutyId;
    if (duty == MyEPA.Enums.DutyEnum.ContactManual)
    {
        Layout = "~/Views/_ContactManualLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/_Layout.cshtml";
    }

}

<h2>此檔案不存在</h2>

