
@{
    ViewBag.Title = "應變摘要參考資料";
    Layout = "~/Views/_Layout.cshtml";
}
<h3>@ViewBag.Title</h3>
<div id="Content">

    <p>
        <a href="~/FileDatas/行政院國家搜救指揮中心作業手冊_全文.pdf" target="_black">行政院國家搜救指揮中心作業手冊_全文_1010702</a>
    </p>
    <p>
        <a href="~/FileDatas/110年_病媒公會資料(1100315版).xlsx" target="_black">110年病媒公會資料_110</a>
    </p>
    <p>
        <a href="~/FileDatas/行政院環境保護署進駐災區縣市作業規定.pdf" target="_black">行政院環境部進駐災區縣市作業規定_10103</a>
    </p>
    <p>
        <a href="~/FileDatas/因應廢棄物處理設備設施緊急應變機制重點摘要10307版.pdf" target="_black">因應廢棄物處理設備設施緊急應變機制重點摘要_10307</a>
    </p>
    <p>
        <a href="~/FileDatas/天然災害垃圾清運、轉運應變作為.pdf" target="_black">天然災害垃圾清運、轉運應變作為</a>
    </p>
    <p>
        <a href="~/FileDatas/天然災害廢棄物清理緊急應變作業程序_1010920.pdf" target="_black">天然災害廢棄物清理緊急應變作業程序_1010920</a>
    </p>
    <p>
        <a href="~/FileDatas/環境消毒作業要領.pdf" target="_black">環境消毒作業要領_980205</a>
    </p>
    <p>
        <a href="~/FileDatas/災後飲用水抽驗標準作業程序.pdf" target="_black">災後飲用水抽驗標準作業程序_981014</a>
    </p>
    <p>
        <a href="~/FileDatas/土壤及地下水污染及因應措施標準作業程序.pdf" target="_black">土壤及地下水污染及因應措施標準作業程序</a>
    </p>
    <p>
        <a href="~/FileDatas/重大天然災害發生時流動廁所調度維護作業程序.pdf" target="_black">重大天然災害發生時流動廁所調度維護作業程序</a>
    </p>
    <p>
        <a href="~/FileDatas/環境清理補助項目、額度.pdf" target="_black">環保署天然災害緊急調度地方清理機具車輛及人力進行環境清理補助項目、額度</a>
    </p>
    <p>
        天然災害停止辦公及上課作業辦法( <a href="~/FileDatas/行政院發布函.doc" target="_black">公文</a>, <a href="~/FileDatas/100D005811_1_0309034001732.doc" target="_black">附件一</a>, <a href="~/FileDatas/100D005811_2_0309034001732.doc" target="_black">
            附件二
        </a>, <a href="~/FileDatas/100D005811_3_0309034001732.doc" target="_black">附件三</a>
        )_1000803
    </p>
    <p>
        <a href="~/FileDatas/天災緊急調度作業手冊(無聯絡資料版).doc" target="_black">因應天然災害環境清理車輛機具支援調度作業手冊</a>(
        <a href="~/FileDatas/天災緊急調度作業手冊-發文副本.doc" target="_black">公文</a>)
    </p>
    <br />
    <p>
        <a href="~/FileDatas/2014漂流木手冊.pdf" target="_black">104年度漂流木處理作業手冊</a>
    </p>

</div>

