<div id="navbar" class="navbar navbar-default ace-save-state">
    <div class="navbar-header pull-left">
        <a href="" data-target="#sidebar" data-toggle="collapse" class="d-md-none"><i class="fa fa-bars fa-2x" style="color:white"></i></a>
        <a class="navbar-brand" style="color:white">
            <img src="/Content/images/epa.png" width="30" alt="行政院環境部LOGO">
            環境災害管理資訊系統
        </a>
        @Html.ActionLink("系統登出", "Index", "Home", "", new {style="color:darkgray"  })
    </div>
</div>


