<div class="main-content pc nav-info">
    <div class="main-content-inner">
        <div class="btn-group" role="group">
            <button class="btn btn-basic" type="button">
                <i class="glyphicon glyphicon-pencil"></i>&nbsp;
                <span style="font-size:1.3em;">快速簽到</span>
            </button>
            <button class="btn btn-basic" type="button">
                <i class="glyphicon glyphicon-refresh"></i>&nbsp;
                <span style="font-size:1.3em;">縣市相互支援協定</span>
            </button>
            <button class="btn btn-basic" type="button">
                <i class="glyphicon glyphicon-folder-close"></i>&nbsp;
                <span style="font-size:1.3em;">開口合約</span>
            </button>
            <button class="btn btn-basic" type="button">
                <i class="glyphicon glyphicon-comment"></i>&nbsp;
                <span style="font-size:1.3em;">客服中心</span>
            </button>
        </div>
    </div>
</div>