@*以下是在首頁的Login視窗下方
    所顯現的內容
    login100-form-title是bootstrap的種類*@

<div class="login100-form-title">
    <br>
    <p style="background:#A0CB50;color: #000000">
        環境部&nbsp;版權所有<br>
        <small>© Ministry of Environment</small>
        <small>R.O.C(TAIWAN)</small>
    </p>
    <p id="webmap">
        <a style="color: black" href="@Url.Action("Index","Home")">回首頁</a>│
        @*<a style="color: black" target="_blank" href="https://emis.epa.gov.tw/">舊版系統</a>│*@
        <a style="color: black" href="~/HTML5_20201216/Emis_edu/index.html" target="_blank" onclick="help()">操作說明</a>│
        <a style="color: black" href="@Url.Action("Register","HomexRegister")">線上註冊</a>│
        <a style="color: black" href="">聯絡資訊</a>│
        <a style="color: black" href="https://www.moenv.gov.tw/Page/A33D3A6556ABFCD2" target="_blank">網站資料開放宣告</a>│
        <a style="color: black" target="_blank" href="https://www.moenv.gov.tw/Page/70E67DE2079DF931">隱私權及資訊安全宣告</a>
    </p>
</div>
<SCRIPT language=JavaScript>
    function help() {
        alert("您即將前往新頁面")
    }
</SCRIPT>
