@using MyEPA.Models;
@using MyEPA.Extensions;
@foreach (var post in (List<NoticeModel>)ViewBag.PostList)
{
    <section id="Notice">
        <div class="container">
            <div class="row notice-content">
                <div class="col-md-12">
                    <div class="media mt-3">
                        <a class="pr-3">
                            @if (ViewBag.PostType == "notice")
                    {<img src="/Content/images/notice_icon2.png" alt=""/>}
                            @if (ViewBag.PostType == "news")
                    {<img src="/Content/images/news_icon2.png" alt=""/>}
                        </a>

                        <div class="media-body">
                            <h3>
                                @post.Title<br /><small>〈發布時間&nbsp @(((DateTime)post.CreateDate).ToDateTimeString())〉</small>
                            </h3>
                            <p class="pc">@Html.Raw(post.Content.ChangToUrlLink())</p>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
    </section>
}

@* .media 是boostrap的種類，可讓內部物件容易靠左或右，
    請參考 https://tinyurl.com/y5erlsyp
    pr-3代表padding 是一個空格  .mt-3代表 margin-top 是一個空格*@